<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
    <link href="~/styles/home.css" rel="stylesheet" />
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9uget_LULN6t79vYlXSxZxLguGMKHI4g&libraries=places"></script>
</head>
<body>
    <div id="map"></div>

    <div id="custom-controls">
        <button id="btn-center-position"><i class="fas fa-crosshairs"></i></button>
    </div>

    <script src="~/scripts/home.js"></script>
</body>
</html>
