<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notifications Page</title>
    <link href="~/styles/notifications.css" rel="stylesheet" />
</head>
<body>
    <span>[Notifications page]</span>

    <script src="~/scripts/notifications.js"></script>
</body>
</html>
