<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Saved Businesses Page</title>
    <link href="~/styles/profile.css" rel="stylesheet" />
</head>
<body>
    <script src="~/scripts/profile.js"></script>

    <div class="card">
        <img src="~/images/will.jpg" alt="John">
        <h1 id="userName">John Smith</h1>
        <p class="title" id="userAddress">7299 McLaughlin Road</p>
        <p id="userPhoneNumber">+1 647-843-2847</p>
    </div>
</body>
</html>
