<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Saved Businesses Page</title>
    <link href="~/styles/savedBusinesses.css" rel="stylesheet" />
</head>
<body>
    <ul id="business-list"></ul>

    <div id="list-end-wrapper">
        <i class="fas fa-certificate theme-blue-fg"></i>
        <h2 class="theme-blue-fg">You've reached the end!</h2>
    </div>

    <script src="~/scripts/savedBusinesses.js"></script>
</body>
</html>
